<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div class="container espacamento">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-5">Categorias cadastradas</h2>
            <hr>
            <table class="table table-hover bg-light table-success">
                <thead>
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Título</th>
                        <th scope="col">Slug</th>
                        <th scope="col">Açoes</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">1</th>
                        <td>Desenvolvimento Web</td>
                        <td>desenvolvimento-web</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/endHtml') %>