<footer  class="w-100">
    <div class="container" id="footer">
        <div class="row">
            <div class="col-12">
               <div id="footer-logo">
                    <a href="../index.ejs" class="navbar-brand mt-3">Guia<span class="color-logo">Press</span></a>
                    <small class="text-center d-block mb-0">Blog GuiaPress 2022 - Todos os direitos reservados&reg;</small>
               </div>
            </div>
        </div>
    </div>
</footer>