<header class="w-100 fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark" id="nav">
        <div class="container">
            <a id="logo-nav" href="/" class="navbar-brand d-inline-block mr-5">Guia<span class="color-logo">Press</span></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ms-auto pt-3">
                    <li class="nav-item">   
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  data-bs-toggle="dropdown">
                          Categorias
                        </a>
                        <ul class="dropdown-menu" id="menuSuspenso"> 
                            <% categories.forEach(category => { %>
                                <li>
                                    <a class="dropdown-item" href="/category/<%= category.slug %>"><%= category.title %></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li> 
                            <% }) %>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success hover ms-5" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
