<header class="w-100 fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark" id="nav">
        <div class="container">
            <a id="logo-nav" href="/" class="navbar-brand d-inline-block mr-5">Guia<span class="color-logo">Press</span></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navMenuAdmin" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navMenuAdmin">
                <ul class="navbar-nav ms-auto pt-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>   
                    <li class="nav-item">   
                        <a href="/admin/categories" class="nav-link">Categorias</a>
                    </li>
                    <li class="nav-item">   
                        <a href="/admin/categories/new" class="nav-link">Nova categoria</a>
                    </li>
                    <li class="nav-item">   
                        <a href="/admin/articles/" class="nav-link">Artigos</a>
                    </li>
                    <li class="nav-item">   
                        <a href="/admin/articles/new" class="nav-link">Novo artigo</a>
                    </li>
                    <li class="nav-item ms-5">
                        <a href="/logout" class="nav-link btn btn-outline-danger text-danger hover">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>