<header class="w-100 fixed-top">
    <nav class="navbar navbar-expand navbar-dark" id="nav">
        <div class="container">
            <a href="../index.ejs" class="navbar-brand">Guia<span class="color-logo">Press</span></a>
        </div>
    </nav>
</header>