/* Formatações gerais */
body, .container{
    height: 100%;
}

body {
    background: #CCC url(../img/bg.png);
}

.hover:hover {
    box-shadow: 3px 3px 5px #000;
    font-weight: bold;
}

.color-logo {
    color: rgb(135, 244, 208);
}

.espacamento {
    margin-top: 120px;
}

.espacamento-bottom {
    margin-bottom: 36rem ;
}

.espacamento-bottom1 {
    margin-bottom: 10% ;
}

/* Barra de navegação */
#nav {
    background-color: rgba(0, 0, 0, 0.8);
    
}

#navMenu {
    margin-right: 100px;
}

#navMenu li a:hover {
    color: #FFF;
    font-weight: 900;
}


#logo-nav {
    font-size: 2.5rem;
}

/* Barra de navegação home page */
#menuSuspenso {
    background: linear-gradient(180deg, rgba(38,50,45,1) 0%, rgba(2,6,4,1) 1%, rgba(4,255,197,1) 100%);
}

#menuSuspenso li a {
    color:#FFF
}

#menuSuspenso li a:hover {
    background:none;
    font-weight: bold;
}

/* page newCategory */
#newCategory {
    margin-top: 100px;
}

#card {
    margin: 15% 0;
}


/* Home page */
#jumbotron {
    border: 2px solid gray;
    border-radius: 30px;
    background: linear-gradient(158deg, rgba(38,50,45,1) 0%, rgba(2,6,4,1) 1%, rgba(4,255,197,1) 100%);
    box-shadow: 3px 3px 5px #000;
}

/* 
Botoes paginacao */
.next {
    float: right;
}

.previous {
    float: left;
}

/* page create */
#cadastro {
    margin: 40px 0;
}



/* Partials footer */
footer {
    background-color: #000;
    height: 100px;
    color: white;
}

#footer a {
    font-size: 1.9em;
}

#footer-logo {
    padding: 20px 20px 0 15px;
}    



/* Media queries */
@media (max-width: 991.98px) {
    .small-screen {
        margin-bottom: 145%;
    }

    .espacamento-bottom1 {
        margin-bottom: 25%;
    }
}    
